.top-navigation .navbar-brand {
    background: #ecba52;
    color: #fff;
    padding: 15px 25px
}

.gray-bg {
    background-color: lightgray;
    padding: 10px 20px;
}

.rank {
    color: black;
}

.wrapper-content, #map, #select-random, .select-group, .btn-group, .btn {
    padding: 20px 10px 40px
}

.input-group, .input-group-btn {
    padding: 0px 10px
}

.search {
    padding: 0px;
}

.list {
    color: #ecba52;

}

.product-imitation {
    text-align: center;
    padding: 90px 10px;
    background-color: #f8f8f9;
    color: #bebec3;
    font-weight: 600
}

.product-desc {
    padding: 10px;
    position: relative;

}

.product-box {
    text-align: center;
    background-color: #ffffff;
    padding: 20px 10px;
    margin: 1px;
    width: max-content;

}

.text-right {
    display: inline;
}

.contain {
    padding: 10px 10px;
    background-color: #f8f8f9;
}

.category {
    /*display: inline;*/
}

.dropzone {
    min-height: 100px;
    border: 3px dashed #ecba52;
    background: #fff;
    padding: 100px
}

.imgs_wrap {
    width: 600px;
    margin-top: 50px;
}

.imgs_wrap img {
    max-width: 200px;
}
