<html>
    <head>
         <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>음식점 월드컵, 고민고민하지마~ 음식점 월드컵으로 메뉴 정하자(MIJUNG)</title>
        <meta name="title" content="음식점 월드컵, 음식점 월드컵 만들기 미정, MIJUNG">
        <meta name="description" content="오늘의 메뉴가 고민스러울 때, 고민하지말고 월드컵으로 정해보자!">
        <meta name="keywords"
              content="음식점, 맛집, 데이트 코스, 위치별, 지역별, 월드컵, 회식, 결정장애">
        <meta property="og:title" content="음식점 월드컵, 고민고민하지마~ 음식점 월드컵으로 메뉴 정하자(MIJUNG)">
        <meta property="og:description" content="오늘의 메뉴가 고민스러울 때, 고민하지말고 월드컵으로 정해보자!">
        <meta property="og:image" content="https://www.mijung.co.kr/ogimg.jpg">
        <meta property="og:url" content="https://www.mijung.co.kr/">
        <meta name="robots" content="noimageindex">
        <link rel="canonical" href="https://www.mijung.co.kr/">
        <link href="../static/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link href="../static/css/animate.css" rel="stylesheet">

        <script src="js/main.js" type="text/javascript"></script>
        <script src="js/plugins/pace/pace.min.js" type="text/javascript"></script>
        <script src="js/pow.js" type="text/javascript"></script>

        </head>
    <body class="top-navigation" style="padding: 0px;">
        <script type="text/javascript">
            /*$(window).on('load', function(){
            });*/
            $(document).ready(function () {

                if ($(window).height() > 414) {
                    $('html, body').animate({scrollTop: 65}, 1);
                }
            });
        </script>
        <div id="wrapper">
            <div id="page-wrapper"  style="min-height:100%">
                <nav class="navbar sticky-top navbar-light bg-dark">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand">
                            MIJUNG</a>
                    </div>
                    <div class="nav" id="navbar">
                        <ul class="nav">
                            <li class="nav-item list">
                                <a class="nav-link " href="/">내 위치 기반 월드컵</a>
                            </li>
                            <li class="nav-item list">
                                <a class="nav-link" href="/category_index"> 지역별 카테고리 월그컵 </a>
                            </li>
                            <li class="nav-item list">
                                <a class="nav-link" href="/make_category"> 지역별 카테고리 월그컵 만들기</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="tad"><br></div>
                <div class="wrapper wrapper-content" style="padding:0">
                    <div class="row gray-bg">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="ibox float-e-margins" style="margin:0px">
                                <div class="ibox-content"
                                     style="height:90vh;text-align:center;padding:0px;background-color:#181818;">
                                    <div id="wleft"
                                         style="width:50%;height:100%;max-width:50%;max-height:100%;background-image: url('https://img.piku.co.kr/w/uploads/4Q19MZ/e8e762184c31b32dabd98771ba7677a1.jpg');background-repeat:no-repeat;background-size:contain;background-position:right center;position:relative;z-index:1"
                                         name="682044"></div>
                                    <div id="wright"
                                         style="width:50%;height:100%;max-width:50%;max-height:100%;background-image: url('https://img.piku.co.kr/w/uploads/4Q19MZ/af868e49b81fece131cebb35ed3aef01.jpg');background-repeat:no-repeat;background-size:contain;background-position:left center;position:relative;left:50%;top:-100%;z-index:2"
                                         name="682082"></div>
                                    <div style="width:100%;height:calc(3 * (1vw + 1vh - 1vmin));max-width:100%;max-height:50%;position:relative;left:0%;top:-200%;z-index:4;vertical-align:center;line-height:calc(3 * (1vw + 1vh - 1vmin));background-color: rgba( 0, 0, 0, 0.5 );color:white;font-size:calc(3 * (1vw + 1vh - 1vmin))">
                                        [고화질, 최신] 남자 아이돌 월드컵&nbsp;&nbsp;&nbsp;32강&nbsp;&nbsp;&nbsp;1/16
                                    </div>
                                    <div id="versus"
                                         style="width:100%;height:calc(7 * (1vw + 1vh - 1vmin));max-width:100%;max-height:50%;background-image:url('images/versus.png');background-repeat:no-repeat;background-size:contain;background-position:center top;background-color:;position:relative;left:0%;top:-155%;z-index:3;pointer-events:none;"></div>
                                    <div style="width:100%;height:calc(7 * (1vw + 1vh - 1vmin));max-width:100%;max-height:50%;background-color:;position:relative;left:0%;top:-155%;z-index:4;color:white;font-size:calc(2 * (1vw + 1vh - 1vmin));text-shadow:-1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;-moz-text-shadow:-1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;-webkit-text-shadow:-1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;pointer-events:none;">
                                        <div id="wleftn"
                                             style="width:50%;display:inline-block;text-align:right;padding-right:10%">
                                            NCT 지성
                                        </div>
                                        <div id="wrightn"
                                             style="width:50%;display:inline-block;text-align:left;padding-left:10%">
                                            형섭X의웅 이의웅
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $.cround = function (co, round) {
                $('#rtext').html('총 ' + co + '명의 후보 중 무작위 ' + round + '명이 대결합니다.');
            };
            $('#selRound').change(function () {
                $.cround($(this).attr("name"), $(this).val());
            });

            $('#rank').click(function () {
                window.location.href = "rank.html";
            });
            $('#list').click(function () {
                window.location.href = "index.html";
            });
            $('.cancel').click(function () {
                window.location.href = "index.html";
            });
            $('#share').click(function () {
                $('#shareurl').select();
                try {
                    var successful = document.execCommand('copy');
                    alert("주소가 복사되었습니다. 원하는 곳에 붙여넣기 해주세요.");
                } catch (err) {
                    alert("실패하였습니다.");
                }
            });
            $(document).ready(function () {
                $('#wleft, #rleft').mouseover(function () {
                });
                $('#wright').mouseover(function () {
                });

                $('#wleft').one("click", function () {
                    $.Animate('wright', 'fadeOutRightBig');
                    $('#wleft').css({backgroundPosition: 'center center'});
                    $('#wleft').css({'text-align': 'center'});
                    $('#versus').hide();
                    $('#wrightn').hide();
                    $('#lbtn').hide();
                    $('#wleftn').css({'text-align': 'center', 'padding-right': '0'});
                    $('#wleft').animate({
                        width: '100%',
                        maxWidth: '100%'
                    }, 500, function () {
                        $.Movepg($('#wleft').attr("name"), $('#wright').attr("name"));
                    });
                });
                $('#wright').one("click", function () {
                    $.Animate('wleft', 'fadeOutLeftBig');
                    $('#wright').css({backgroundPosition: 'center center'});
                    $('#wright').css({'text-align': 'center'});
                    $('#versus').hide();
                    $('#wleftn').hide();
                    $('#rbtn').hide();
                    $('#wrightn').css({'text-align': 'center', 'padding-left': '0'});
                    $('#wright').animate({
                        left: '0',
                        width: '100%',
                        maxWidth: '100%'
                    }, 500, function () {
                        $.Movepg($('#wright').attr("name"), $('#wleft').attr("name"));
                    });
                });

                $('#restart').click(function () {
                    $.ajax({
                        type: "POST",
                        url: "play_reset.php",
                        async: false,
                        success: function (data) {
                            window.location.href = "4Q19MZ";
                        }
                    });
                });

                $('#savecom').click(function () {
                    if ($('#n').val() == '') {
                        $('#n').focus();
                        return false;
                    }
                    if ($('#c').val() == '') {
                        $('#c').focus();
                        return false;
                    }
                    $.ajax({
                        type: "POST",
                        url: "https://www.piku.co.kr/w/play_save_com.php",
                        data: $("#form1").serialize(),
                        async: false,
                        success: function (data) {
                            window.location.reload();
                        }
                    });
                });

                $('#morelist').click(function () {
                    $.ajax({
                        type: "POST",
                        url: "https://www.piku.co.kr/w/play_comment.php",
                        cache: false,
                        data: "uid=4Q19MZ&limit=" + $('#limit').val(),
                        async: false,
                        success: function (data) {
                            if (data.length > 0) {
                                $('.social-footer').append(data);
                                $('#limit').val(Number($('#limit').val()) + 20);
                            } else {
                                $("#morelist").text("마지막 의견입니다.");
                            }
                        }, error: function (request, status, error) {
                            alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                        }
                    });
                });

                $('#morelist').trigger("click");
            });

            $(document).on("click", ".repcom", function () {
                $msg = $(this);
                $.ajax({
                    type: "POST",
                    url: "https://www.piku.co.kr/w/play_rep_com.php",
                    data: "uid=4Q19MZ&cno=" + $(this).attr("data-no"),
                    async: false,
                    success: function (data) {
                        $msg.next().text(data);
                        $msg.next().show();
                        $msg.next().fadeOut(3000, function () {
                            //Animation complete.
                        })
                    }
                });
            });

            $(document).on("click", ".delcom", function () {
                $.ajax({
                    type: "POST",
                    url: "https://www.piku.co.kr/w/play_del_com.php",
                    data: "uid=4Q19MZ&cno=" + $(this).attr("data-no"),
                    async: false,
                    success: function () {
                        window.location.reload();
                    }
                });
            });

            $.Animate = function (wid, ani) {
                $('#' + wid).removeAttr('class').attr('class', '');
                $('#' + wid).addClass('animated');
                $('#' + wid).addClass(ani);
            };

            $.Movepg = function (win, lose) {
                $.ajax({
                    type: "POST",
                    url: "play.php",
                    data: "u=4Q19MZ&p=5f3a394d477ae1498754&w=" + win + "&l=" + lose,
                    async: false,
                    success: function () {
                        setTimeout("window.location.replace ('4Q19MZ');", 800);
                    }
                });
            };

        </script>
    </body>
</html>