<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>음식점 고르기, 고민고민하지마~ 음식점 차트로 메뉴 정하자(MIJUNG)</title>
        <meta name="title" content="음식점 고르기, 고민고민하지마~ 음식점 차트로 메뉴 정하자(MIJUNG)">
        <meta name="description" content="음식점 고르기, 고민고민하지마~ 음식점 차트로 메뉴 정하자(MIJUNG)">
        <meta name="keywords"
              content="음식점, 맛집, 데이트 코스, 위치별, 지역별, 월드컵, 회식, 결정장애">
        <meta name="robots" content="noimageindex">
        <link rel="canonical" href="https://www.mijung.co.kr/">
        <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">


    </head>
    <body class="top-navigation" style="padding: 0px;">
        <div id="wrapper">
            <div id="page-wrapper" style="min-height:100%">
                <nav class="navbar sticky-top navbar-light bg-dark">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand">
                            MIJUNG</a>
                    </div>
                    <div class="nav" id="navbar">
                        <ul class="nav">
                            <li class="nav-item list">
                                <a class="nav-link " href="/">내 위치 기반 리스트</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="tad"><br></div>
                <div class="wrapper wrapper-content" style="padding:0">
                    <div class="row gray-bg">
                        <div class="row" style="margin: 10px;">
                            <div style="margin: 10px;">
                              <div>
                                <h2>음식점 이름 : fdgsdfbdber</h2>
                              <ul>
                              <li>전화번호: </li>
                              <li>지번 주소: </li>
                              <li>도로명 주소: </li>
                              <li>음식 카테고리: </li>
                              </ul>
                              </div>
                              <a class="btn btn-default" href="#" role="button">지도로 위치보기</a>
                            </div><!--/.col-xs-6.col-lg-4-->
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
                // $.ajax({
                //     type: "POST",
                //     url: "/random/start",
                //     data: {location_give: location, center_x_give: center_x, center_y_give: center_y, radius_give: radius, n_give: n},
                //     success: function (response) {
                //         if (response["result"] == "success") {
                //             window.location.href = "/start";
                //         } else {
                //             alert("server error")
                //         }
                //     }
                // })

        </script>
    </body>
</html>